<h2>Sprint 13. Tasks</h2>

<p><a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Greetings">Greetings</a></p>

<p><a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="ProductInfo">Product Info</a></p>

<p><a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="SuperMarkets">Super Markets</a></p>

<p><a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="ShoppingList">Shopping List</a></p>

<p><a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="ShoppingCart">Shopping Cart</a></p>