@{
    ViewData["Title"] = "ERROR";
}

<div class="text-center">
    <h1 class="display-4">404 Page not found</h1>
    <p>This product is not exist.<a asp-controller="Products" asp-action="Index"> List of products</a>.</p>
</div>
